<link href='//fonts.googleapis.com/css?family=Nunito:400,700' rel='stylesheet' type='text/css' />

<!-- Feature: alert -->
<div id="vocus-native-dialog-bg" class="Kj-JD-Jh" style="opacity:0.75;width:100%;height:100%;"></div>
<div id="vocus-native-dialog" style="left:50%;top:50%;opacity:1;">
	<div id="vocus-native-dialog-header" class="Kj-JD-K7 Kj-JD-K7-GIHV4"><span class="Kj-JD-K7-K0" role="heading"></span></div>
	<div id="vocus-native-dialog-content" class="Kj-JD-Jz"></div>
	<div id="vocus-native-dialog-controls" class="Kj-JD-Jl"></div>
</div>

<!-- Feature: completion -->
<div id="vocus-completion">
	<div id="vocus-commands"></div>
</div>

<!-- Feature: compose panel -->
<div id="vocus-panel">
	
	<div id="vocus-switch-container">
		<div id="vocus-switch-title"></div>
		<div id="vocus-switch-indicator">
			<div id="vocus-switch-bar"><span></span></div>
		</div>
		<div style="clear: both;"></div>
	</div>

	<div id="vocus-panel-items"></div>
	<div id="vocus-panel-content"></div>
	<div id="vocus-panel-corner"></div>
	<!-- <div id="vocus-panel-done">Done</div> -->
</div>

<script type="text/html-template" id="vocus-panel-button-template">
	<td id="vocus-panel-button">
		<div id="vocus-panel-button-content">
			<!-- logo -->
			<div id="vocus-panel-button-logo">
				<img src="chrome-extension://VOCUS_EXT_ID/images/icon-rect.svg" />
			</div>

			<!-- title -->
			<div id="vocus-panel-button-title">
				Full tracking
			</div>
		</div>
	</td>
</script>


<!-- Feature: popup -->
<div id="vocus-overlay"></div>
<div id="vocus-container">
	<iframe id="vocus-frame" src=""></iframe>
</div>


<!-- Feature: sendlater -->
<script type="text/html-template" id="vocus-sendlater-template">
	<div id="vocus-sendlater">
		<div class="vocus-panel-field"><input type="radio" name="vocus-sendlater" id="vocus-sendlater-now" /><label for="vocus-sendlater-now">Send email now</label></div>
		<div class="vocus-panel-field"><input type="radio" name="vocus-sendlater" id="vocus-sendlater-later" /><label for="vocus-sendlater-later">Send email later</label></div>
		<div id="vocus-sendlater-result">
			<p id="vocus-sendlater-label">Immediate</p>
			<input type="text" id="vocus-sendlater-input" placeholder="e.g. Two hours later" />
			<p id="vocus-sendlater-note">Use natural text and hit enter. The green field above will be updated. Examples:</p>
			<ul>
				<li>Two hours later</li>
				<li>Tomorrow at 6am</li>
				<li>In two weeks</li>
			</ul>
		</div>
	</div>
	<div id="vocus-panel-done">Done</div>
</script>


<!-- Feature: snippets -->
<div id="vocus-snippet-varbox">
	<input type="text" placeholder="Variable One" />
	<input type="text" placeholder="Variable Two" />
	<input type="text" placeholder="Variable Three" />
</div>

<div id="vocus-snippet-varbox-modal"></div>


<!-- Feature: snooze -->
<div id="vocus-snooze">
	<div id="vocus-snooze-corner"></div>
	<div id="vocus-snooze-msg"></div>
	<div id="vocus-snooze-content"></div>
</div>

<script id="vocus-snooze-template" type="text/html">
	<div id="vocus-snooze-options">
		<p id="vocus-snooze-label">Immediate</p>
		<input type="text" id="vocus-snooze-input" placeholder="e.g. Two days later" />

		<label>
			<input id="vocus-snooze-check-response" type="checkbox" checked />
			Bump only if no response <i class="fa snooze-info fa-info-circle" data-tooltip="Will only bring message to top of inbox if no reply is received by that date."></i>
		</label>

		<label>
			<input id="vocus-snooze-note-checkbox" type="checkbox" />
			Add personal note
			<input id="vocus-snooze-note" type="text" placeholder="Optional personal note." />
		</label>
	</div>

	<div id="vocus-snooze-shortcuts">
		<span data-tooltip="Two hours">2H</span>
		<span data-tooltip="Eight hours">8H</span>
		<span data-tooltip="One day">1D</span>
		<span data-tooltip="Two days">2D</span>
		<span data-tooltip="Three days">3D</span>
		<span data-tooltip="One week">1W</span>
		<span data-tooltip="Two weeks">2W</span>
		<span data-tooltip="Three weeks">3W</span>
	</div>

	<div id="vocus-snooze-buttons">
		<div id="vocus-snooze-create-btn">Done</div>
		<div id="vocus-snooze-destroy-btn">Unsnooze</div>
	</div>
</script>


<!-- Feature: toast -->
<div id="vocus-toast"></div>


<!-- Feature: toolbar panel -->
<div id="vocus-tbpanel">
	<div id="vocus-tbpanel-corner"></div>

	<div id="vocus-tbpanel-msg">

	</div>

	<div id="vocus-tbpanel-items">
		<div id="vocus-tbpanel-dashboard" class="vocus-tbpanel-item"><i class="fa fa-bolt"></i> <span>Open Dashboard</span></div>
		<div id="vocus-tbpanel-snooze" class="vocus-tbpanel-item"><i class="fa fa-clock-o"></i> <span>Setup Reminder</span></div>
		<div id="vocus-tbpanel-crm" class="vocus-tbpanel-item"><i class="fa fa-link"></i> <span>Log to CRM</span></div>
	</div>


	<div id="vocus-tbpanel-content"></div>

	<div id="vocus-tbpanel-loader">
		<img src="chrome-extension://VOCUS_EXT_ID/images/icon-rect.svg" />
		<div>loading...</div>
	</div>
</div>


<!-- Feature: tracking -->
<script type="text/html-template" id="vocus-tracking-template">
	<div id="vocus-tracking">
		<div class="vocus-panel-field">
			<input type="checkbox" id="vocus-tracking-email" />
			<label for="vocus-tracking-email">
				<b>Enable e-mail tracking</b>
				<p>Allows you to keep track of whether a recepient opened your email.</p>
			</label>
		</div>
		
		<div class="vocus-panel-field" style="margin-top: 20px;">
			<input type="checkbox" id="vocus-tracking-links" />
			<label for="vocus-tracking-links">
				<b>Enable link tracking</b>
				<p>Allows you to know whether they clicked on your links.</p>
			</label>
		</div>

		<div id="vocus-tracking-defaults">
			<span>save as defaults</span>
		</div>
	</div>
</script>

<!-- Feature: checkmarks -->
<div id="vocus-checkmarks-popup">
	<div id="vocus-checkmarks-popup-corner"></div>
	<div id="vocus-checkmarks-popup-hover"></div>

	<div id="vocus-checkmarks-popup-content">Hello World!</div>

	<div id="vocus-checkmarks-popup-loader">
		<span class="loading-one">.</span><span class="loading-two">.</span><span class="loading-three">.</span>
	</div>
</div>