/*** Feature: Dashboard ***/
.vocus-toolbar-button-class {
    background-color: #f8ea20;
    position: relative;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 4px inset rgba(170, 170, 170, 0.32);
}

.vocus-toolbar-button-class:hover {
    background-color: #ffee01;
}

.vocus-toolbar-button-class.vocus-disabled-icon {
    filter: saturate(0);
}

.vocus-toolbar-button-class img {
    width: 10px;
    height: auto;
    margin-top: -1px;
}

/*** Feature: Alert ***/
.native-alert-visible
{
    position: static !important;
    top: auto !important;
}

#vocus-native-dialog-bg
{
    display: none;
}

#vocus-native-dialog
{
    display: none;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    flex-direction: column;
    outline: none;
    padding: 0;
    position: absolute;
    width: 504px;
    z-index: 501;
    color: #000;
    background-clip: padding-box;
}

#vocus-native-dialog-content a
{
    color: #3498db !important;
}


/*** Feature: Completion ***/
#vocus-completion
{
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFF;
    border: solid 1px #666;
    z-index:1000000;
    border-radius: 2px;
    font-size: 12px;
    display: none;
    overflow: hidden;
}

#vocus-commands
{
    width: 200px;
    max-height: 120px;
    overflow-y: scroll;
}

#vocus-commands .command
{
    padding: 5px;
    cursor: pointer;
    color: #444;
}

#vocus-completion .command.selected
{
    background-color: #F8E71C;
}

#vocus-commands .command span
{
    text-decoration: underline;
}


/*** Feature: Compose Panel ***/
.aoC #vocus-panel-button {
    border-top: 1px solid #cfcfcf;
}

#vocus-panel-button-content {
    width: 120px;
    height: 27px;
    line-height: 27px;
    font-size: 10px;
    margin: 6px 2px;
    border: solid 1px #F8E81C;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}

#vocus-panel-button-logo {
    float: left;
}

#vocus-panel-button-logo img {
    width: 27px;
    height: 27px;
    border-radius: 2px 0px 0px 2px;
}

#vocus-panel-button-title {
    float: left;
    font-size: 13px;
    color: #AAA;
    line-height: 27px;
    margin-left: 5px;
}

#vocus-panel {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 230px;
    background-color: #FFF;
    border: solid 1px #F8E71C;
    border-radius: 5px;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;
    padding-bottom: 15px;
    box-shadow: rgb(238, 238, 238) 0px 0px 5px 1px;
}

.vocus-panel-field {
    margin-bottom: 10px;
}

.vocus-panel-field input {
    margin-right: 10px;
}

#vocus-panel-done {
    margin: 20px auto 0px auto;
    width: 120px;
    height: 30px;
    background-color: #3498db;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.vocus-panel-item {
    display: block;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
}

.vocus-panel-item:hover {
    /*background-color: #F8E71C;*/
    color: #61B4E9;
}

.vocus-panel-item i {
    margin-right: 10px;
    width: 14px;
}

.vocus-panel-section {
    display: block;
    margin-top: -15px;
    /*background-color: #F5F5F5;*/
    cursor: default;
    color: #555;
    text-transform: uppercase;
    font-size: 10px;
    /*border-bottom: dotted 1px #CCC;*/
    line-height: 25px;
    height: 25px;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    padding-left: 10px;
    margin-top: 10px;
}

.vocus-panel-section:first-child {
    margin-top: 0px;
}

#vocus-panel-corner {
    position: relative;
    background-color: #FFF;
    border: solid 1px #F8E71C;
    border-left-width: 0px;
    border-top-width: 0px;
    width: 14px;
    height: 14px;
    top: 6px;
    transform: rotate(45deg);
    margin: 0px auto -18px auto;
}

#vocus-switch-container {
    padding: 10px;
    background-color: #F8E71C;
    font-family: 'Nunito';
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
    cursor: default;
}

#vocus-switch-title {
    float: left;
    line-height: 20px;
}

#vocus-switch-indicator {
    float: right;
}

#vocus-switch-bar {
    margin: 0px auto 0px auto;
    width: 60px;
    height: 20px;
    border-radius: 25px;
    background-color: #ecf0f1;
    cursor: pointer;
    position: relative;
    opacity: 0.8;
}

#vocus-switch-bar > span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #bdc3c7;
    margin-left: 0px;
    transition: all 500ms;
}

#vocus-switch-bar.enabled { background-color: #2ecc71; }
#vocus-switch-bar.enabled > span { margin-left: 40px; }

#vocus-switch-bar.disabled { background-color: #e74c3c; }
#vocus-switch-bar.disabled > span { margin-left: 0px; }

#vocus-panel .disabled-content {
    cursor: default;
    opacity: 0.2;
    pointer-events: none;
}

#vocus-panel-disabled-message {
    padding: 0px 10px 10px 10px;
    line-height: 180%;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-weight: 100;
    min-height: 120px;
}

#vocus-panel-disabled-message a {
    color: #61B4E9;
    text-decoration: none;
}


/*** Feature: Compose ***/
.vocus-compose-note {
    position: relative;
    padding: 8px;
    line-height: 12px;
    font-size: 12px;
    font-family: "HelveticaNeue", sans-serif;
    background-color: #F8E71C;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: default;
}

.vocus-compose-note a {
    text-decoration: none;
}

.vocus-compose-note:first {
    margin-right: 0px;
}


/*** Feature: Popup ***/
#vocus-overlay {
    display: none;
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    opacity: 0.4;
}

#vocus-container {
    position: fixed;
    top: -200%;
    left: 50%;
    width: 850px;
    height: 500px;
    margin-left: -425px;
    z-index: 1000;
    transition: top 500ms;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: solid 1px #888;
    overflow: hidden;
    opacity: 0;
}

#vocus-container.visible {
    top: 40px;
    opacity: 1;
}

#vocus-frame {
    width: 850px;
    height: 500px;
    border-width: 0px;
}

/*** Feature: Sendlater ***/
#vocus-sendlater {
    padding: 15px;
    padding-top: 5px;
}

#vocus-sendlater-result {
    margin-top: 20px;
    line-height: 150%;
}

#vocus-sendlater-result.disabled {
    opacity: 0.5;
}

#vocus-sendlater-label {
    font-size: 12px;
    color: #2ecc71;
    margin-bottom: 2px;
}

#vocus-sendlater-input {
    padding: 5px;
    width: 170px;
}

#vocus-sendlater-note {
    font-size: 12px;
    color: #999;
    margin-top: 8px;
}

#vocus-sendlater-result ul {
    font-size: 12px;
    color: #999;
    padding: 0px;
    margin-top: -8px;
    margin-left: 30px;
}

#vocus-sendlater-tag {
    display: inline-block;
    padding: 10px;
    line-height: 12px;
    font-size: 12px;
    font-family: "HelveticaNeue", sans-serif;
    background-color: #F8E71C;
    cursor: default;
    margin-bottom: 10px;
}


/*** Feature: Snippet ***/
.vocus-snippet-variable
{
    color: #222;
    background-color: rgba(248,231,28, 0.5);
    border-radius: 3px;
    padding: 2px 5px 4px 5px;
    cursor: pointer;
}

.vocus-snippet-variable:hover,
.vocus-snippet-variable:focus,
.vocus-snippet-variable.selected
{
    background-color: rgba(248,231,28, 1);
    transition: all 0.1s;
}

#vocus-snippet-varbox
{
    display: none;
    position: absolute;
    z-index: 100;
    width: 250px;
    background-color: #FFF;
    border: solid 1px #666;
    border-radius: 2px;
    padding: 0px;
    font-size: 12px;
    box-shadow: 0px 0px 91px -9px rgba(0,0,0,0.75);
}

#vocus-snippet-varbox-modal
{
    display: none;
    position: absolute;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0);
}

#vocus-snippet-varbox input
{
    display: block;
    margin: 20px;
    padding: 10px;
    width: 200px;
    border: 0px;
    outline: none;
}


/*** Feature: Snooze ***/
#vocus-snooze
{
    display: none;
    position: fixed;
    z-index: 1000;
    width: 230px;
    background-color: #FFF;
    border: solid 1px #F8E71C;
    border-radius: 5px;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgb(238, 238, 238) 0px 0px 5px 1px;
}

#vocus-snooze-corner
{
    position: relative;
    background-color: #FFF;
    border: solid 1px #F8E71C;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 14px;
    height: 14px;
    top: -22px;
    transform: rotate(45deg);
    margin: 0px auto -14px auto;
}

#vocus-snooze-msg
{
    line-height: 180%;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-weight: 100;
}

#vocus-snooze-msg a
{
    color: #61B4E9;
    text-decoration: none;
}

#vocus-snooze-label
{
    font-size: 12px;
    color: #2ecc71;
    margin-bottom: 2px;
    margin-top: 0px;
}

#vocus-snooze-input
{
    padding: 5px;
    width: 185px;
    margin-bottom: 10px;
}

#vocus-snooze-options
{
    line-height: 150%;
    padding: 0px 15px 0px 15px;
}

#vocus-snooze-options label
{
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: 5px;
    margin-left: 1px;
}

#vocus-snooze-options label input
{
    margin-right: 4px;
}

#vocus-snooze-shortcuts
{
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: dotted 1px #CCC;
    border-bottom: dotted 1px #CCC;
    padding-top: 10px;
    text-align: center;
}

#vocus-snooze-shortcuts span
{
    cursor: pointer;
    display: inline-block;
    background-color: #CCC;
    color: #FFF;
    border-radius: 3px;
    margin-right: 5px;
    margin-left: 5px;
    width: 35px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    margin-bottom: 10px;
}

#vocus-snooze-buttons
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#vocus-snooze-create-btn,
#vocus-snooze-destroy-btn
{
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #3498db;
    line-height: 30px;
    color: #FFF;
    text-align: center;
    border-radius: 3px;
    opacity: 0.5;
    cursor: default;
}

#vocus-snooze-create-btn.enabled
{
    opacity: 1;
    cursor: pointer;
}

#vocus-snooze-destroy-btn
{
    margin-left: 20px;
    background-color: #E74C3C;
    opacity: 1;
    cursor: pointer;
}

.snooze-info
{
    color: #CCC;
    margin-left: 5px;
}

#vocus-snooze-note
{
    display: none;
    color: #444;
    font-size: 12px;
    width: 185px;
    padding: 5px;
    border-radius: 3px;
    border: solid 1px #EEE;
    margin-top: 10px;
}

#vocus-snooze-note.visible
{
    display: block;
}


/*** Feature: Toast ***/
#vocus-toast
{
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left:-225px;
    background-color: #F8E71C;
    width: 450px;
    z-index:1000000;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    display: none;
}

#vocus-toast p {
    margin: 10px;
}

#vocus-toast a {
    font-style: italic;
    color: #444;
}

.vocus-toast-hide {
    text-decoration: underline;
    cursor: pointer;
}
    
/*** Feature: TBPanel ***/
#vocus-tbpanel
{
    display: none;
    position: fixed;
    z-index: 1000;
    width: 250px;
    background-color: #FFF;
    border: solid 1px #F8E71C;
    border-radius: 5px;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 12px;
    padding: 10px;
    box-shadow: rgb(238, 238, 238) 0px 0px 5px 1px;
}

#vocus-tbpanel-corner
{
    position: relative;
    background-color: #FFF;
    border: solid 1px #F8E71C;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 14px;
    height: 14px;
    top: -18px;
    transform: rotate(45deg);
    margin: 0px auto -14px auto;
}

#vocus-tbpanel-msg
{
    line-height: 180%;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-weight: 100;
}

#vocus-tbpanel-msg a
{
    color: #61B4E9;
    text-decoration: none;
}

#vocus-tbpanel-items
{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: dotted 1px #CCC;
}

.vocus-tbpanel-item
{
    display: block;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size: 14px;
    color: #444;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    cursor: pointer;
}

.vocus-tbpanel-item:hover
{
    /*background-color: #F8E71C;*/
    color: #61B4E9;
}

.vocus-tbpanel-item i
{
    margin-right: 10px;
    width: 14px;
    text-align: center;
}

#vocus-tbpanel-content
{
    
}

#vocus-tbpanel-loader
{
    height: 150px;
    text-align: center;
}

#vocus-tbpanel-loader img
{
    width: 80px;
    border-radius: 40px;
    opacity: 0.2;
    margin-top: 20px;
}

#vocus-tbpanel-loader div
{
    margin-top: 20px;
    color: #CCC;
    font-family: "HelveticaNeue-Light", sans-serif;
    font-size: 14px;
}


/*** Feature: Tracking ***/
#vocus-tracking {
    padding: 5px 15px 0px 15px;
}

#vocus-tracking p {
    margin-top: 5px;
    line-height: 150%;
    font-family: 'HelveticaNeue-Light', sans-serif;
    font-size: 12px;
    color: #CCC;
}

#vocus-tracking-defaults
{
    margin-top: 30px;
    text-align: right;
}

#vocus-tracking-defaults span
{
    cursor: pointer;
    color: #61B4E9;
}

/*** Feature: Undo ***/
#vocus-send-undo
{
    cursor: pointer;
}

/*** Feature: Checkmarks ***/
.vocus-checkmarks
{
    display: inline-block;
    width: 22px;
    height: 24px;
    margin-right: 5px;
}

#vocus-checkmarks-popup
{
    display: none;
    position: fixed;
    z-index: 1000;
    width: 250px;
    background-color: #444;
    color: #FFF;
    border-radius: 5px;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 11px;
    padding: 10px;
    box-shadow: rgb(238, 238, 238) 0px 0px 5px 1px;
}

#vocus-checkmarks-popup-corner
{
    position: relative;
    background-color: #444;
    border: solid 1px #444;
    border-right-width: 0px;
    border-bottom-width: 0px;
    width: 7px;
    height: 7px;
    top: -14px;
    transform: rotate(45deg);
    margin: 0px auto -7px auto;
}

#vocus-checkmarks-popup-hover
{
    position: absolute;
    width: 70px;
    height: 40px;
    top: -40px;
    left: 100px;
}

#vocus-checkmarks-popup-loader
{
    text-align: center;
    font-size: 14px;
    margin-bottom: 7px;
}

.loading-one, .loading-two, .loading-three {
    opacity: 0;
    animation: loading-dot 1s infinite;
}

.loading-one { animation-delay: 0.0s; }
.loading-two { animation-delay: 0.2s; }
.loading-three { animation-delay: 0.3s; }

@keyframes loading-dot {
      0% { opacity: 0; }
     50% { opacity: 1; }
    100% { opacity: 0; }
}